.container{
    width: 200%;
    margin-left: 30px;
    
}
.header{
    background-image: url(../images/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    width: 2000px;
    height: 1050px;
    text-align-last: center;
    padding: 60px 0;
  border: 3px white

}

.contact-us{
    background-image: url(../images/c_image.jpg);
    width: 5000px;
    height: 650px;
    margin: auto;
    align-items: center;
}
        #logo{
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
}
.About{
    text-align: center;
}

