
*{ overflow-x: hidden;}

.header{
    background-image: url(../images/h_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
   min-height: 80vh;
    text-align: center;
    padding: 40px ;
  color:white

}

.contact-us{
    background-image: url(../images/c_image.jpg);
    background-size: cover;
    width: 1400px;
height: 2oopx;
    align-items: center;
    color: white;
       
      }


.About{
    text-align: center;
    font-size: small;
}

.images{
   margin-left: 280px;
}
#services{
    background-image: url(../images/s_image.jpg);
    color: white;
    min-height: 50vh;
    padding: 130px;
}

    

.d{
    font-size: x-small;
    
}

.D{
    font-size: x-small;   
}

.p{
    font-size: x-small;
    
}

#g{
    width: 800px; 
    height: 200px;
   text-align: center;
    margin: 20%;
    background-color: rgba(113, 118, 122, 0.034);
    color: white;
    padding: 30px;
}